<ion-menu [content]="content">
  <ion-content class="menu-left">
    <!-- User profile -->
    <div text-center padding-top padding-bottom class="primary-bg menu-left">
      <div *ngIf='loading'>
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <a menuClose>
        <div *ngIf="user && !loading">
          <img *ngIf="user" class="profile-picture" [src]="user.photoURL">
          <h4 light >{{user.displayName}}</h4>
          <hr>
          <ion-list class="list-full-border" *ngIf="user">
            <button class="item-menu" ion-item menuClose clear (click)="goToSorteios()" >
              <ion-icon item-left name="cash"></ion-icon>Sorteios
            </button>
            <button class="item-menu" ion-item menuClose clear (click)="logout()" >
              <ion-icon item-left name="log-out"></ion-icon>Sair
            </button>
          </ion-list>
        </div>
        <div>
          <ion-grid *ngIf="!user && !loading">
            <h4 light >Faça login para participar dos sorteios</h4>
            <ion-row>
              <ion-col width-100 ><button style="background-color: #3b5997" ion-button full (click)="loginWithFacebook()" ><ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;Login com Facebook</button></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </a>
    </div>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
